  /**
   * WPJ CHANGES
   * --------------------------------------------------
   */
   a{
      color:#0064d4;
      
      &:hover, &:active{
         color:#278cfd;
      }
   }
   .input-sm{
      font-size:15px;
   }
   span.btn.btn-white a{
      color:$white;  
   }
   body{
      color:#000000;
   }
   body.window{
      background-color:$gray-background;
      padding:10px 5px 0;
      
      & > form{
         min-width:970px;
      }
      & > form > .container-fluid{
         padding-bottom:43px;
         padding-right: 10px;
         padding-left: 10px;
      }
   }
   label{
      font-weight:600;
   }
   p.input-height{
      padding:5px 0;
   }
   .control-label.right{
      padding-top:4px;
      text-align:right;
   }
   .form-group.horizontal{
      margin-left: -15px;
      margin-right: -15px;
   }
   .form-group.horizontal:before, .form-group.horizontal:after {
       content: " ";
       display: table;
   }
   .form-group.horizontal:after {
       clear: both;
   }
   .well{
      min-height:0;
   }
   .form-horizontal .control-label{
      padding-top:5px;
   }
  .navbar-default {
      border-radius: 0;
      background-color:$aqua-dark;
      @include box-shadow(inset 0 2px 3px rgba(20,111,187,0.4));
      border:0;
      margin-bottom:0;
      
      & .navbar-brand,
      & .navbar-link,
      & .btn-link,
      & .navbar-brand:hover,
      & .navbar-brand:focus,
      & .navbar-link:hover,
      & .btn-link:hover,
      & .navbar-text,
      & .navbar-nav > li > a,
      & .btn-link:focus {
          color: $navbar-font-color;
      }
      & .navbar-brand{
         padding: 0 28px;
         height:56px;
         line-height:56px;
      }
      & .navbar-nav > li > a:hover{
          background-color:$aqua-light;
          @include box-shadow(inset 0 2px 3px rgba(20,111,187,0.4));
      }
      .navbar-nav > li > a {
          padding: 18px;
         -webkit-transition: 0.25s;
         -moz-transition: 0.25s;
         transition: 0.25s;
      }
      & .navbar-nav > .open > a,
      & .navbar-nav > .open > a:hover,
      & .navbar-nav > .open > a:focus {
          background-color: $aqua-darker;
      }
      & .dropdown-submenu > a:after{
          border-color: transparent transparent transparent $aqua-darker;
      }
} 

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.radio, .checkbox{
   margin-top:5px;
   
   & label{
      margin-left:5px;
   }
}
.dropdown-menu{
   background-color: $white;
   font-size:12px;
   border-width:0 1px 1px 1px;
   border-style:solid;
   border-color:rgba(0,0,0,0.10);
   
   & li a {
      color: #333333;
      padding:8px 20px;
   }
   & li a:hover,
   & li a:focus,
   & .active a,
   & .active a:hover,
   & .active a:focus{
       color: #FFFFFF;
       background-color: #2494f2;
   }
}

.nav.nav-pills.nav-stacked{
   
   & li{
      border-top:1px solid #32353e;
      border-bottom:1px solid #1a1c20;
      margin:0;
      position:relative;
      
      &.with_caret:after{
         content:"";
         border-left: 4px solid transparent;
         border-right: 4px solid transparent;
         border-top: 4px solid;
         display: block;
         position:absolute;
         height: 0;
         top:45%;
         right:20px;
         margin-left: 2px;
         vertical-align: middle;
         width: 0;
         color:#c9d4f6;
      }
   }
   & li.nav-header{
      border-top:none;
      font-size:18px;
      margin:0;
      font-weight:100;
      color:rgba(255,255,255,1.00);
      padding:14px 15px;
      
      &.smaller{
         font-size:14px;
         border-top:1px solid #32353e;
      }
   }
   & li.nav-header .glyphicon{
      margin-right:10px;
   }
   & li > a{
      border-radius: 0px 0px 0px 0px;
      -moz-border-radius: 0px 0px 0px 0px;
      -webkit-border-radius: 0px 0px 0px 0px;
      color:#c9d4f6;
      text-shadow:1px 1px 0 #1b1d22;
      font-size:12px;
      border-left:1px solid #272930;
      background-color: #272930;
      padding-top:8px;
      padding-bottom:8px;
   }
   & li > a .glyphicon{
      margin-right:8px;
   }
   & li > a:hover{
       background-color: #383b44;
       border-left:1px solid #2494f2;
   }
   input[type=checkbox]{
      margin:5px 5px 0 0;
      position:relative;
      top:2px;
   }
   & label{
      font-weight:normal;
      font-size:12px;
   }
}
.nav.nav-pills.nav-stacked .nav-sub.nav-pills{
   background-color:#1a1c20;
   color:#AAB2BD;
   padding:5px 10px;
   
   & ul{
      list-style-type:none;
      padding:0;
      
      & li{
         border:none;
         
         & a{
            padding:5px 10px;
            display:block;
            background-color:#1a1c20;
            border:none;
            
            &:hover{
               background-color:#272930;
            }
         }
      }
   }
}
@media screen and (max-width: 195px) {
    .nav.nav-pills.nav-stacked li span, .small-hidden{
       display:none;
    }
}
.panel-group-lists{
   .panel-heading {
      & > .row .panel-title{
         margin-left:-10px;
      }
      & > .row > div > .btn-group, & > .row > div > .btn{
         margin-top:2px;
      }
   }
}
.board-left{
   .container-fluid{
      padding:0 30px;
   }
   .panel{
      .panel-heading{
         .icon{
            font-size:20px;
         }
         h3{
            margin:3px 0 0;
            font-weight:100;
            font-size:22px;
         }
      }
      .images-list{
         h5{
            font-size:14px;
         }
         img{
            margin:0 5px;
         }
      }
   }
   .thumbnail .caption{
      font-size:12px;
   }
}
.photos .thumbnail{
   height:140px;
}
.thumbnail .caption{
   padding: 4px;
}
.photo-list{
   padding-top:20px;
}
.board-right{
   &.collapsed .small-hidden, &.collapsed .nav.nav-pills.nav-stacked li span{
      display:none;
   }
}
@media screen and (max-width: 400px) {
    .nav .changes_list{
       display:none;
    }
}
.nav .changes_list{
   color:$white;
   list-style:none;
   font-size:11px;
   padding:0;
   margin:0;
   
   li{
     padding:7px 15px; 
     
     i{
      display:inline-block;
      width:30%;
     }
     strong{
      display:inline-block;
      width:20%;
     }
   }
}
.board-item-sm{
   padding:10px 12px;
   
   .icon{
      color:$aqua-dark;
      font-size:28px;
      &.danger{
         color:$grapefruit-dark;
      }
      &.info{
         color:$mint-dark;
      }
      span{
         margin-top:8px;
         margin-left:5px;
      }
   }
   h3{
      margin:2px 0;
      font-size:26px;
   }
   p{
      margin:0;
   }
}


.pagination {
   & > li.unactive > a,
   & > li.unactive > a:hover{
      background-color: transparent;
      color: $pagination-font-color;
   }
}

.alert span.glyphicon{
   margin-right:8px;
}
.alert.alert-danger a{
   color:#772321;
}
.alert-danger{
   color:#772321;
}
.btn-group .btn .glyphicon{
   font-size:12px;
}

input.form-control[type=file]{
   padding:0;
}
.bootstrap-filestyle{
   & input{
      font-size: 12px;
      height: 30px;
      line-height: 1.5;
      padding: 5px 10px;
   }
   & label{
      font-size: 12px;
      line-height: 1.5;
      padding: 5px 12px;
   }
}
label.btn{
   margin:0;
}
label span.glyphicon{
   margin-right:5px;
}
.control-label.two-lines{
   padding-top:0px;
   line-height:1.2;
   
   & label{
      margin-bottom:0px;   
   }
}
span.product-title{
   margin-top:5px;
   display:inline-block;
}
.img-limited{
   width:auto !important;
   max-height:200px;
}
.btn.btn-block{
   margin-bottom:5px;
}
#statusButtons{
   .btn{
      margin-top:5px;
   }
}

/***** ALERT *******/
.alert-success{
   background-color: rgba(193,239,142,0.80);
}
/**** LEFT MENU HIDER ******/
.btn {
    &.side-hide {
        color: #bcd4ed;
        border-color: #1a1c20 !important; 
        background-color:#1c1e27;
        position:absolute;
        bottom:10px;
        right:6px;
   
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            background-color: #252832; 
            border-color: #32353e !important; 
        } 
        &.collapsed span.glyphicon-chevron-left:before{content:"\e080"}
    }
}
.btn {
     &.collapsed span.glyphicon-chevron-right:before{content:"\e079"}
}
/**** LEFT MENU HIDER END ******/
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
   font-size:12px;
   padding:5px 15px;
}
.table > thead > tr > th, table > tbody > tr > th, .table > tfoot > tr > th{
   padding:8px 15px;
}
table.table.table-striped .list_item span.glyphicon{
   margin-right:3px;
   font-size:12px;
}
table.table-striped .badge{
   margin-right:5px;
}
/****** DRAG SDROP STUFF ******/
span.drag-drop-mover{
   font-size:18px;
   margin-bottom:0px;
   margin-top:5px;
   cursor:move;
   color:$aqua-dark;
   display:inline-block;
}
div.placeholder{
   list-style:none;
   height:50px;
   background-color:$gray-background;
}
div.panel.drag-drop{
   @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
/* for table */
.table span.drag-drop-mover{
   margin:0px 10px;
   line-height:16px;
   display:block;
   float:left;
}
/****** DRAG SDROP STUFF ******/

.form-control.small{
   width:auto;
   display:inline-block;
   margin:0 3px;
   height:auto;
   line-height:normal;
   padding:0px 3px;
}

.radio label, .checkbox label{
   padding-left:0px;
}

.table.table-striped.unsortable th .glyphicon{
   display:none;
}
.table.table-striped.unsortable th a, .table.table-striped.unsortable th a:hover{
   cursor:auto;
   color:$darkgray-dark;
}
.line-through{
   text-decoration:line-through;
}
.selecter{
   font-size:12px;
}
.selecter .selecter-selected{
   padding:5px 10px;
   height:30px;
}
.selecter .selecter-selected:after{
   top:12px;
}
.selecter.multiple .selecter-options{
   max-height:120px;
}
.help-block{
   font-size:12px;
   margin-bottom:5px;
}
.help-tip{
   cursor:help;
   position:absolute;
   right:-8px;
   top:20%;
   z-index:20;
}
.panel .panel-heading p{
   margin:0;
   padding:7px 4px 7px 0px;
}
.row.bottom-space{
   padding-bottom:10px;
   padding-top:10px;
}
[class*=col-].bottom-space{
   margin-bottom:10px;
   margin-top:10px;
}
.main-panel-title{
   margin:5px 0 10px;
   font-size:16px;
   border-bottom:1px solid #e0e3e7;
   padding-bottom:8px;
}
.btn.btn-status{
   color:#434a54;
   border-color:#dddddd;
}
.btn.btn-status.btn-active{
   -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .130);
   -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .130);
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, .130);
   font-weight:bold;
}
.btn-group .btn.btn-status:first-child{
   border-color:#dddddd;
}
/* storno */
.table > tbody > tr.storno > th, .table > tbody > tr.storno > td{
   background-color:#f8e1e6 !important;
}
.table > tbody > tr.storno:hover > th, .table > tbody > tr.storno:hover > td{
   background-color:#f0d7dc !important;
}
/* doprava */
.delivery{
   height:26px !important;
   margin:-3px 0;
   line-height:26px;
   padding:0 10px;
   border:1px solid #ddd;
   font-size:12px;
   background-color:#FFFFFF;
}
.table.table-collapsed td, .table.table-collapsed th {
    padding-left: 7px;
    padding-right: 3px;
}
.table td.no-padding{
   padding-top:2px;
   padding-bottom:2px;
}

/* TABULKA LIST END*/

.panel-heading{
   .badge{
      border:none;
      margin-top:-2px;
      margin-left:2px;
      margin-right:2px;
   }
}


.radio.pull-left, .checkbox.pull-left{
   margin:0px 25px 10px 0;
}
.table.sm{
   margin:0;
   font-size:12px;
   
   td, th{
      padding:3px 10px;
      border:none;
   }
   th{
      font-weight:600;
      text-align:right;
   }
}
.panel.panel-sm{
   
   .panel-body{
      padding:5px; 
   }
}
no-margin{
   margin:0;
}
.panel.menu-list .row{
   padding:0;
   
   h5{
      margin:6px 5px;
      font-size:16px;
   }
}
.panel .treeDragDrop .tdd-tree{
   border:none;
   min-height:0px;
   padding:0;
}
.panel .treeDragDrop > .tdd-tree{
   padding-bottom:10px;
}
.menu-list .drag-drop-mover{
   margin-top:0px;
   font-size:16px;
   margin-right:20px;
   position:relative;
   top:2px;
}
.menu-list ul.collapsed{
   display:none;
}
.glyphicon.glyphicon-minus-sign.opener.plus:before{
   content:"\e081";
}
.panel body:not(.cursorGrabbing) .treeDragDrop li, .tdd-dragContainer li{
   cursor:auto;
}
.panel .treeDragDrop li, .tdd-dragContainer li{
   border:none;
   padding:0 0 0 20px;
   
   .disabled{
      color:#FFFFFF;
   }
}
.panel li.tdd-selected{
   opacity:0.5;
   background-color:#e6e6e6;
}
.panel .treeDragDrop li .row, .tdd-dragContainer li .row{
   border-bottom:1px solid #eee;
   padding:8px 0 8px 0;
   margin:0;
}
body .ui-draggable-dragging{
   height:50px;
   width:100%;
   background-color:#e6e6e6;
}
.list-yes{
   color:$mint-dark;
   font-size:18px;
   i{display:none}
}
.list-no{
   color:$bittersweet-dark;
   font-size:18px;
   i{display:none}
}
.table tr.dbbackup .list_item {
   height:22px;
}
.window-btns{
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
   background-color:$gray-background;
   box-sizing:border-box;
   padding:15px 20px 10px;
   @include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.35));
   z-index:99;
}
.text-disabled{
   color:#b0b0b0;
   
    label{
      cursor:auto;
   }
}
.panel.panel-sm .panel-body.text-indent{
   padding:10px 15px;
}

/******* LIST PRODUKTU S OBRAZKEM *******/
.table tr.product-list-thumbnail .list_item {
   height:52px;
   line-height:50px;
   
   img.img{
      height:50px;
      width:50px;
      border:1px solid #DDD;
      margin-right:8px;
      background-color:#fff;
      padding:3px;
   }
}

.badge.badge-light{
   font-weight:normal;
   
   &.badge-danger a, &.badge-success a{
      color:#fff;
      text-decoration:underline;
      &:hover{
         text-decoration:none;
      }
   }
}
iframe.ui-dialog-content{
   width:100% !important;
}